
  h1 {
    color: pink;
  }
  h2 {
    text-transform: capitalize;
  }
  h5 {
    text-align: center;
    color: pink;
  }
  .description {
    text-transform:capitalize;
  }
  .city {
    color: pink;
  }
  .col-2 {
    display: block;
    margin: 0 auto;
  }
  .form-group {
    position: relative;
    font-size: 15px;
    font-family: "Abyssinica SIL", serif;
    font-family: "Playfair Display SC", serif;
    font-weight: bolder;
  }
  .card-body {
    text-align: center;
    font-size: 20px;
  }
  .card {
    border-color: pink !important;
  }
  .row {
    font-family: "Abyssinica SIL", serif;
  }
  .emoji {
    font-size: 40px;
  }

  .btn-secondary {
    background-color: pink;
    color: black;
    border-color: gray;
    font-family: monospace;
    border-radius: 13px;
    padding: 5.5px;
  }
  .btn-secondary:hover {
    color: pink;
    background-color: gray;
  }
  .btn {
    background-color: pink;
    color: black;
    border-color: gray;
    font-family: monospace;
    border-radius: 13px;
    padding: 6px;
  }
  .btn:hover {
    color: pink;
    background-color: gray;
  }
  .row2 {
    font-family: monospace;
    background-color: pink;
    font-size: 15px;
  }
  .fahcels {
    text-decoration: none;
    color: pink;
    font-size: 20px;
  }