
  h1 {
    color: pink;
    text-align: center;
  }
  h2 {
    text-transform: capitalize;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h5 {
    text-align: center;
    color: pink;
  }
  .description {
    text-transform:capitalize;
    text-align: center;
  }
  .form-group {
    position: relative;
    font-size: 15px;
    font-family: "Abyssinica SIL", serif;
    font-family: "Playfair Display SC", serif;
    font-weight: bolder;
  }
  .card-body {
    text-align: center;
    font-size: 20px;
  }
  .card {
    border-color: pink !important;
  }
  .row {
    font-family: "Abyssinica SIL", serif;
  }
  .emoji {
    font-size: 40px;
    text-align: center;
  }

  .btn-secondary {
    background-color: pink;
    color: black;
    border-color: gray;
    font-family: monospace;
    border-radius: 13px;
    padding: 5.5px;
  }
  .btn-secondary:hover {
    color: pink;
    background-color: gray;
  }
  .btn {
    background-color: pink;
    color: black;
    border-color: gray;
    font-family: monospace;
    border-radius: 13px;
    padding: 6px;
  }
  .btn:hover {
    color: pink;
    background-color: gray;
  }
  .row2 {
    font-family: monospace;
    background-color: pink;
    font-size: 15px;
    text-align: center;
  }
  .fahcels {
    text-decoration: none;
    color: pink;
    font-size: 20px;
    text-align: center;
  }
  .forecast-day {
    border: 1px solid #2c2d2e;
    border-radius: 5px;
    padding: 10px;
  }
  .weather-forecast {
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 25px;
   
  }
  .forecast-day {
    color: pink;
    font-family: monospace;
    font-size: 20px;
  }
#cityInput {
  font-family: monospace;
}